[submodule "vscode-extension"]
	path = vscode-extension
	url = git@github.com:xrenegade100/greet-vscode.git
[submodule "packages/cli"]
	path = packages/cli
	url = git@github.com:xrenegade100/greet-cli.git
